<h1>New Pin</h1>

<div class="row">
<div class="col-md-6">

	<%= render 'form', pin: @pin %>

	<p>
	  <a href="<%= pins_path %>" class="btn btn-default" role="button">Back</a>
	</p>
	<!--<%= link_to 'Back', pins_path %>-->
</div>
</div>
